<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <p>Добавить нового котика</p>
    <p><input placeholder="имя" name="name"></p>
    <p><input placeholder="окрас" name="color"></p>
    <p><input placeholder="возраст" name="age"></p>

    <p><button formaction="/addnewcat">Добавить</button></p>
</form>

<div th:each="cat : ${cats}">
    <p>
        id <span th:text="${cat.id}"/>  Имя: <span th:text="${cat.name}"/> цвет: <span th:text="${cat.color}"/> возраст <span th:text="${cat.age}"/>
    </p>
</div>
</body>
</html>