<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <p>Введите имя файла</p>
    <p><input placeholder="" name="filename"></p>

    <p><button formaction="/readfile">Ввести</button></p> <p><button formaction="/addnewcatbut">Добавить</button></p>

</form>

<div th:each="cat : ${cats}">
    <p>
      id <span th:text="${cat.id}"/>  Имя: <span th:text="${cat.name}"/> цвет: <span th:text="${cat.color}"/> возраст <span th:text="${cat.age}"/>
    </p>
</div>
<p> <span th:text="${errorMsg}" /></p>
</body>
</html>